@font-face {
 font-family: 'GohuFont';
 src: url('/src/assets/fonts/GohuFont11NerdFontMono-Regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}


    
body {
 font-family: 'GohuFont', sans-serif;
 padding: 2rem;
}

.GridProductos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    background-color: cornsilk;
    list-style: none;
}

.ProductContainer {
    background-color: aqua;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.enCarrito {
    background-color: #d4edda; /* el producto está en el carrito */
    border: 1px solid #28a745; /* resaltar el producto */
    color: #155724; /* color del texto */
    box-shadow: rgb(240, 46, 78) 0 0 19px 4px;

}



.visible {
    display: block; 
}
